{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous" />
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        <link rel="stylesheet" href="{% static 'game&tournament.css' %}" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Gideon+Roman&display=swap" rel="stylesheet">

        <title>King Pong</title>
    </head>
    <body style="background-image: url('{% static '/images/fundo.png' %}')">
        <!-- Main div -->
        <div class="main w-100 mx-5 d-flex justify-content-center align-items-center">
            <!-- Lateral Navigation bar -->
            <div class="tab-lateral">
                <ul
                    class="nav nav-pills p-0 d-flex justify-content-center align-items-center">
                    <li
                        class="nav-item w-100 d-flex justify-content-center align-items-center clickable-item">
                        <a class="nav-link" href="#">
                            <img src="{% static 'images/pong.png'%}" class="imgs" />
                        </a>
                    </li>
                    <li
                        class="nav-item active w-100 d-flex justify-content-center align-items-center clickable-item">
                        <a class="nav-link" href="#">
                            <img
                                src="{% static 'images/league_7894746.png' %}"
                                class="imgs" />
                        </a>
                    </li>
                    <li
                        class="nav-item w-100 d-flex justify-content-center align-items-center clickable-item">
                        <a class="nav-link" href="#">
                            <img
                                src="{% static 'images/speech-bubble_154461.png' %}"
                                class="imgs" />
                        </a>
                    </li>
                    <li
                        class="nav-item w-100 d-flex justify-content-center align-items-center clickable-item">
                        <a class="nav-link" href="#">
                            <img
                                src="{% static 'images/perfilpage.png' %}"
                                class="imgs" />
                        </a>
                    </li>
					<li
                        class="nav-item w-100 d-flex justify-content-center align-items-center clickable-item"
                        id="config-nav">
                        <a class="nav-link" href="#">
                            <img
                                src="{% static '/images/configuration_93800.png' %}"
                                class="imgs" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="cover-container d-flex flex-column justify-content-center align-items-center">
                <h1 class="welcome-text">Torneio</h1> <!-- Texto de boas-vindas -->
                
                <div class="content-container d-flex justify-content-between align-items-center mt-4">
                    <!-- Primeira Content Box com Formulário para Criar Torneio -->
                    <div class="content-box text-center">
                        <h2>Criar Torneio</h2>
                        <form action="/criar_torneio" method="POST">
                            <label for="quantidade" class="mt-2">Selecione a quantidade de jogadores:</label>
                            <select id="quantidade" name="quantidade" class="form-select text-center mt-2">
                                <option value="4">4</option>
                                <option value="6">6</option>
                                <option value="8">8</option>
                                <option value="10">10</option>
                                <option value="12">12</option>
                            </select>
                            <button type="submit" class="btn btn-primary mt-3">Iniciar</button>
                        </form>
                    </div>
                    
                    <!-- Barra Divisória Externa -->
                    <div class="divider"></div>
                    
                    <!-- Segunda Content Box com Formulário para Entrar em Torneio -->
                    <div class="content-box text-center">
                        <h2>Entrar em torneio</h2>
                        <form action="/entrar_torneio" method="POST">
                            <label for="codigo-torneio" class="mt-2">Digite o código do torneio:</label>
                            <input type="text" id="codigo-torneio" name="codigo" class="form-control mt-2">
                            <button type="submit" class="btn btn-primary mt-3">Iniciar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap javascript -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    
	    <script src="{% static 'pong.js' %}"></script>
        

    </body>
</html>



