{% extends "base.html" %}

{% block content %}
	<title>Register</title>
    <div class="register-page">
        <form action="{% url 'register' %}" method="POST"> {% csrf_token %}
            <h2>Register</h2>
            <p> Welcome to the Philosophers Pong! </p>

            <input class='custom-input' type="text" id="newName" name="name" placeholder="What's your first name?" required>
			<br><br>
            <input class='custom-input' type="text" id="newUser" name="username" placeholder="Choose your Username" required>
            <br><br>
			<input class='custom-input' type="email" id="newEmail" name="email" placeholder="What's your email?" required>
			<br><br>
            <input class='custom-input' type="password" id="firstPass" name="password" placeholder="Create your password" required>
			<br><br>
            <input class='custom-input' type="password" id="secondPass" name="confirm_password" placeholder="Confirm your password" required>
			<br><br>
        
            <button type="submit">Registrar</button>
            <br><br>
            <p>Já tem uma conta? <a class="link-login" href="#">Fazer Login</a></p>
        </form>
    </div>
{% endblock %}