body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center; /* Center vertically */
}

html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura */
    margin: 0;    /* Remove qualquer margem padrão */
}

.png-container {
	overflow: hidden;
	filter: opacity(0.95) drop-shadow(0 0 0 white) invert(100%) brightness(1.3);
  }
  
.png-container2 {
	overflow: hidden;
	filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

.png-container3 {
	filter: opacity(0.5) drop-shadow(0 0 0 blue);
}
  
  .png-container4 {
	filter: opacity(1) drop-shadow(0 0 0 green);
}
  
.cover-container {
	background-color: #DFF9FD80;
	height: 90vh;
	width: 90vw;
	border-radius: 5vh;
}

#title-main {
	font-weight: 700;
}

#cover-box-elements {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
}

#forms {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80vh;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 100%; /* Ajusta a largura */
    max-width: 300px; /* Define um limite máximo */
	text-align: center;
}
.input-box label {
	font-weight: 600;
	color: #000000;
	margin-bottom: 0.4rem;
}

button[type="submit"] {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input {
    margin: 0.6rem 0;
	text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    box-shadow: 1px 1px 6px #0000001c;
}