{% load static %}

<title>Login</title>
<div class="login-page">
	<form action="{% url 'login' %}" method="POST"> 
		{% csrf_token %}
		<h1 class="centered-title">Philosophers Pong</h1>
		<br><br>
		<input type="text" id="user" name="username" placeholder="Username" required>
		<br><br>
		<input type="password" id="pass" name="password" placeholder="Password" required>
		<br><br>
		<button type="submit">Login</button>
		<br><br>
		<p class="redirect-container">Don't have an account? <a class="link-register" href="#">Register</a></p>
	</form>
</div>