body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center; /* Center vertically */
}

html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura */
    margin: 0;    /* Remove qualquer margem padrão */
}


.cover-container {
	background-color: #DFF9FD80;
	height: 90vh;
	width: 100vh;
	border-radius: 5vh;
}