.cover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-text {
    font-size: 52px; /* Ajuste o tamanho do texto conforme necessário */
    font-weight: bold;
    margin-bottom: 20px; /* Espaçamento abaixo do texto */
    font-family: 'Gideon Roman', serif; /* Fonte personalizada */
}

h2,label,select {
    color: #2a2e31;
    font-family: 'Gideon Roman', serif; /* Fonte personalizada */
}

.content-container {
    display: flex;
    align-items: center;
    width: 75%; /* Ajuste para controlar a largura total */
    height: 50%;
}

/* Estilos dos slots de usuário */

/* Ajuste dos Slots de Usuário */
.player-slot {
    background-color: #dffdf880;
    border-radius: 15px;
    width: 150px;
    height: 80px;
    padding: 10px;
    color: #333;
    font-size: 1rem; /* Ajuste fino no tamanho da fonte */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Garante que o texto não ultrapasse */
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Badge de status do usuário */
.player-slot .badge {
    font-size: 0.8rem;
    color: #fff;
}

/* Status aguardando */
.player-slot .badge.bg-secondary {
    background-color: #6c757d; /* Cinza */
}

/* Botões de interação */
.btn-success {
    background-color: #28a745;
    border: none;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    font-weight: bold;
}

.btn {
    font-family: 'Bona Nova SC', serif; /* Altera a fonte do botão */
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}

/* Ajuste dos botões no container */
.d-flex .btn {
    min-width: 150px;
}