<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="container">
		<h1>Welcome to Transcendence</h1>
		<a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-1608c925fd96235cfd1e248ef9e1d02080614088dff0919ffcfd9fdda1b42328&redirect_uri=http%3A%2F%2Flocalhost%3A8443%2Fgame%2F&response_type=code" class="btn">Login</a>
	</div>
</body>
</html>